.card{
    height: 400px;
    overflow: hidden;
}

.card-image{
    height: 250px;
    overflow:hidden;
}

.flex-container{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-animation: row wrap;
    justify-content: space-around;
}

.flex-item{
    background: crimson;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

i:hover{
    color: tomato;
}
